<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ireland</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- News card link -->
  <ion-card [routerLink]="['/ireland-news']" routerDirection="forward">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg" 
             width="200"  
             alt="Flag of Ireland">
    </ion-img>
    <ion-card-header>
      <ion-card-title>News</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Sports card link -->
  <ion-card [routerLink]="['/ireland-sports']" routerDirection="forward">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg" 
             width="200"  
             alt="Flag of Ireland">
    </ion-img>
    <ion-card-header>
      <ion-card-title>Sport</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>


