ion-title {
<<<<<<< HEAD
    text-align: center;
    font-size: 25px;
  }
  
  .tab-icon, ion-tab-button {
    max-width: 70px;
    max-height: 50px;
    margin: 15px;
  }
=======
  text-align: center;
  font-size: 25px;
}

.tab-icon, ion-tab-button {
  max-width: 70px;
  max-height: 50px;
  margin: 15px;
}
>>>>>>> b0b13a5b409f78f5a6f538edbe791d0e0d2cf98b
