<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Australia News</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let article of australiaNews">
    <ion-card>
      <div style="display: flex; align-items: center;">
        <ion-img [src]="article.urlToImage || 'assets/logo2.png'" alt="News Image"></ion-img>
        <ion-card-header>
          <ion-card-title (click)="openBrowser(article.url)" class="clickable-title">
            {{ article.title }}
          </ion-card-title>                  
        </ion-card-header>
      </div>
    </ion-card>
  </div>
</ion-content>

<!--tab bar at the bottom to navigate to Ireland page, Home and Australia page-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ireland" routerLink="/ireland">
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg" width="200"></ion-img>
    </ion-tab-button>
    
    <ion-tab-button tab="home" [routerLink]="['/home']">
      <ion-icon name="home-outline" class="tab-icon"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="australia" routerLink="/australia">
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1920px-Flag_of_Australia_%28converted%29.svg.png"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>