ion-title {
    text-align: center;
    font-size: 25px;
  } 
  ion-radio {
    --color-checked: #3880ff; 
    color: white;
  }
ion-list{
  background-color: #7edaf9; 
  max-width: 350px;
  margin: auto;
}
ion-button{
  display: block;
  margin: 20px auto;
  max-width: 80px;
}
h2{
  text-align: center;
  color: black;
}

